<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%t, %d, %-5p, %C:%L] - %.-100000m%n</pattern>
		</encoder>
	</appender>

	<root level="WARN">
		<!--<appender-ref ref="CONSOLE"/>-->
	</root>

	<logger name="no.nav.dokarkiv" level="INFO" additivity="false">
		<!--<appender-ref ref="CONSOLE"/>-->
	</logger>

	<logger name="no.nav.freg" level="INFO" additivity="false">
	<!--<appender-ref ref="CONSOLE"/>-->
	</logger>
	<logger name="org.springframework.security" level="INFO" additivity="false">
	<!--<appender-ref ref="CONSOLE"/>-->
	</logger>

	<!--<logger name="log4j.logger.org.apache.cxf.interceptor" additivity="false" level="INFO">-->
	<!--<appender-ref ref="CONSOLE"/>-->
	<!--</logger>-->

</configuration>